<footer class="container" style="margin-top: 100px;">
  <p class="text-center"> copyright @2017 Rails101
    <br> Design by
    <a herf="http://courses.growthschool.com/courses/rails-101/" target=_new>xide</a>
  </p>
</footer>
<!-- 以上部分不用记忆  -->
